.car {
  margin: 0, auto;
  padding: 10px;
  //background-color: rgb(203, 203, 196);
  //border: 1px solid black;
}
button{
  margin-right: 15px;
  padding: 5px 15px;
}
.btn-delete{
  padding: 0px 5px;
}
li{
  margin-bottom: 5px;
}
.form-car-card input{
  display: block;
  margin-bottom: 5px;
}
.btn-option {
  margin-left: 10px;
  margin-bottom: 10px;
}
.car-form{
  label{
    margin-right: 10px;
  }
}
